.section_card-claro {
  @apply bg-fundo_secundario-claro;
}

.section_card-escuro {
  @apply bg-fundo_secundario-escuro;
}

.section_card-estrela {
  @apply bg-fundo_secundario-estrela;
}

.section_card-nuvem {
  @apply bg-fundo_secundario-nuvem;
}

.duvidas_pergunta {
  @apply text-24 font-semibold;
}

.duvidas_resposta {
  @apply text-20 font-normal;
}

.duvidas_tabela {
  @apply m-4 min-w-full divide-y rounded-6;
}

.duvidas_th {
  @apply px-6 py-3 text-left text-20 font-normal text-white;
}

.duvidas_td {
  @apply px-6 py-4 text-16 font-normal text-white;
}
