@keyframes slideIn {
  from {
    transform: translateY(100vh);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(100vh);
  }
}

.slideIn {
  animation: slideIn 0.5s normal both;
}

.slideOut {
  animation: slideOut 0.5s normal both;
}